/.DS_Store
/.vscode
/gathered
/gathered-1
/govil_kin.html
/kin.ipyngit
/kinWaterAuth.py
/kinneret.py
getNewReading.log
myChartStudio.py
twitter/twitterCreds.py
twitter/__init__.py
twitter/__pycache__/__init__.cpython-38.pyc
twitter/__pycache__/postToTwitter.cpython-38.pyc
last_tweet.json
index.html
kin.ipynb
getNewReading_2020-11-06.log
old_logs/new_items_added.log
readlog.py
old_logs/getNewReading_2020-11-19.log
sftpconnect.py
kin.html
.gitignore
data/.DS_Store
__pycache__/
twitter/__pycache__