/.DS_Store
/.vscode
/data
/gathered
/gathered-1
/getNewReading.py
/govil_kin.html
/kin.ipyngit
/kinWaterAuth.py
/kinneret.py
getNewReading.log
myChartStudio.py
twitter/twitterCreds.py
twitter/__init__.py
twitter/__pycache__/__init__.cpython-38.pyc
twitter/__pycache__/postToTwitter.cpython-38.pyc
last_tweet.json
index.html
kin.ipynb
getNewReading_2020-11-06.log